.watu-question, #action-button {
	display:none;
}

form.quiz-form {
	text-align:left;
}

.single-page-quiz .watu-question, .single-page-quiz #action-button {
	display:block;
}
.single-page-quiz #next-question {
	display:none;
}
.question-content {
	margin-top:20px;
}

.show-question {
	border-bottom:1px solid #000;
}
.answer span {
	padding-right:20px;
}
.user-answer span {
	font-weight:bold;
	background:url(wrong.png) no-repeat right top;
}
.correct-answer span {
	background:url(correct.png) no-repeat right top;
}


.watu-sidebox
{
	border:1px solid black;
	padding:10px;
	margin-bottom: 20px;
}

#watu-sidebar
{
	float:left;
	width:25%;
}

#watu-related, #watu-ad
{
	background-color: #BBEEDD;
}